*{
    margin:0px;
    padding:0px;
    letter-spacing: 1px;
    box-sizing: border-box;
}
table{
    width: 100vw;
    border: 2px solid black;
    background-color: antiquewhite;
}
td{
    width: 25%;
    height: 500px;
    border: 1px solid black;
}
div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
span{
    display: inline-block;
    width: 20%;
    height: 50px;
    background-color: brown;
    color: white;
    font-size: xx-large;
    text-align: center;
}
.start{
    justify-content: start;
}
.end{
    justify-content: end;
}
.center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}