body
{

    background: #111;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;

}

.card
{
    width: 250;
    height: 150;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    transition: all o.4 ease;
}

.card:hover

{
    transform: scale(1.1) rotate(3deg);
    background:linear-gradient(135deg,#00ffcc,#3366ff);
    box-shadow: 0 0 20px #00ffcc,
                0 0 40px #3366ff,
                0 0 60px #00ffcc;
                cursor: pointer;
}



